* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('images/Background.jpg');
  background-repeat: no-repeat;
  background-position: 70% 50%;
}

.hero {
  position: relative;
  width: 100%;
  background: white;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  color: #6070ff;
}

/* about me */

.intro {
  margin-left: 8%;
  margin-top: 20%;
}

.intro h1 {
  font-size: 40px;
  color: #172b4d;
  align-items: center;
}

.intro p {
  line-height: 20px;
  font-weight: 300;
  width: 270px;
  align-items: center;
  color: #344563;
}

.intro h3 {
  width: 130px;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  color: #7f8cff;
}

/* background design */

.social-icons {
  display: flex;
  width: 170.17px;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.container {
  width: 295px;
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 30px;
  padding-left: 10px;
}

#column {
  font-weight: 750;
  color: #344563;
  display: flex;
  width: 240px;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.container p {
  width: 295px;
  height: 76px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

#work {
  display: flex;
  width: 170.17px;
  height: 25px;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 4px 12px;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
}

#view {
  position: absolute;
  width: 124px;
  height: 48px;
  left: 10px;
  margin-top: 610px;
  top: calc(50% - 48px / 2);
}
